.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.board-container{
  margin: 20px;
  padding: 25px 7px;
    position: relative;
    bottom: none;
    margin: 24px 1px;
    background-color: rgb(238, 236, 233);
    opacity: 0.9;
    border-left: 6px solid #000;
    border-right: 6px solid #000;
    color: rgb(8, 8, 8);
    
}
.button{
  cursor: pointer;

}